<div class="crit-card">
    <fieldset class="border-top">
        <legend>Critical Hit</legend>
            <div class="grid-container">
                <div class="grid-item two-column crit-severity">Severity {{severity}}</div>
                <div class="grid-item header">Location</div>
                <div class="grid-item">{{hitLocation}}</div>
                <div class="grid-item header">Damage Bonus</div>
                <div class="grid-item">{{damageBonus}}</div>
                <div class="grid-item header">Scarring?</div>
                <div class="grid-item">{{hasScar}}</div>
                <div class="grid-item header">Permanent?</div>
                <div class="grid-item">{{isPermanent}}</div>
            </div>
        <ul class="effects-list">
            {{#each effects as |effect| }}
            <li>
                <label class="effect-description">{{effect}}</label>
            </li>
            {{/each}}
        </ul>
    </fieldset>
</div>